In [1]:
# Lookalike Model: Recommending Similar Customers

import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import StandardScaler

In [2]:
customers = pd.read_csv("Customers.csv")

In [3]:
customers.head()

  CustomerID        CustomerName         Region  SignupDate
0      C0001    Lawrence Carroll  South America  2022-07-10
1      C0002      Elizabeth Lutz           Asia  2022-02-13
2      C0003      Michael Rivera  South America  2024-03-07
3      C0004  Kathleen Rodriguez  South America  2022-10-09
4      C0005         Laura Weber           Asia  2022-08-15

In [4]:
transaction_data = pd.read_csv("Transactions.csv")
transaction_data.head()

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68

In [6]:
merged_customer_data = pd.merge(transaction_data, customers, on = 'CustomerID', how = "inner")

In [7]:
merged_customer_data.head()

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price,CustomerName,Region,SignupDate
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68,Andrea Jenkins,Europe,2022-12-03
1,T00761,C0199,P022,2024-10-01 05:57:09,4,550.16,137.54,Andrea Jenkins,Europe,2022-12-03
2,T00626,C0199,P079,2024-08-17 12:06:08,2,834.74,417.37,Andrea Jenkins,Europe,2022-12-03
3,T00963,C0199,P008,2024-10-26 00:01:58,2,293.70,146.85,Andrea Jenkins,Europe,2022-12-03
4,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68,Brittany Harvey,Asia,2024-09-04

In [13]:
features = merged_customer_data[[ 'Price', 'Quantity', 'TotalValue']]
features.head()

    Price  Quantity  TotalValue
0  300.68         1      300.68
1  137.54         4      550.16
2  417.37         2      834.74
3  146.85         2      293.70
4  300.68         1      300.68

In [14]:
# Normalize the features
scaler = StandardScaler()
features_scaled = scaler.fit_transform(features)

In [15]:
# Step 3: Compute Similarity
# Compute pairwise cosine similarity between customers
similarity_matrix = cosine_similarity(features_scaled)

In [29]:
# Step 4: Find Top 3 Lookalikes
lookalike_map = {}

for i, customer_id in enumerate(customers['CustomerID']):
    print(f"Processing customer {customer_id} ({i}/{len(customers)})")
    # Get similarity scores for customer i
    similarities = similarity_matrix[i]

    similar_customers = []
    for j, score in enumerate(similarities):
        if j != i:
            try:
                similar_customer_id = customers['CustomerID'].iloc[j]  # Check if this goes out of bounds
                similar_customers.append((similar_customer_id, score))
            except IndexError:
                print(f"IndexError at j={j} for customer {customer_id}")
                continue

    # Sort and pick top 3 lookalikes
    similar_customers = sorted(similar_customers, key=lambda x: x[1], reverse=True)[:3]
    
    lookalike_map[customer_id] = similar_customers
    if j < len(customers):  # Only proceed if j is within the bounds of the customers DataFrame
        similar_customer_id = customers['CustomerID'].iloc[j]

Processing customer C0001 (0/200)
Processing customer C0002 (1/200)
Processing customer C0003 (2/200)
Processing customer C0004 (3/200)
Processing customer C0005 (4/200)
Processing customer C0006 (5/200)
Processing customer C0007 (6/200)
Processing customer C0008 (7/200)
Processing customer C0009 (8/200)
Processing customer C0010 (9/200)
Processing customer C0011 (10/200)
Processing customer C0012 (11/200)
Processing customer C0013 (12/200)
Processing customer C0014 (13/200)
Processing customer C0015 (14/200)
Processing customer C0016 (15/200)
Processing customer C0017 (16/200)
Processing customer C0018 (17/200)
Processing customer C0019 (18/200)
Processing customer C0020 (19/200)
Processing customer C0021 (20/200)
Processing customer C0022 (21/200)
Processing customer C0023 (22/200)
Processing customer C0024 (23/200)
Processing customer C0025 (24/200)
Processing customer C0026 (25/200)
Processing customer C0027 (26/200)
Processing customer C0028 (27/200)
Processing customer C0029 (28/200)
Processing customer C0030 (29/200)
Processing customer C0031 (30/200)
Processing customer C0032 (31/200)
Processing customer C0033 (32/200)
Processing customer C0034 (33/200)
Processing customer C0035 (34/200)
Processing customer C0036 (35/200)
Processing customer C0037 (36/200)
Processing customer C0038 (37/200)
Processing customer C0039 (38/200)
Processing customer C0040 (39/200)
Processing customer C0041 (40/200)
Processing customer C0042 (41/200)
Processing customer C0043 (42/200)
Processing customer C0044 (43/200)
Processing customer C0045 (44/200)
Processing customer C0046 (45/200)
Processing customer C0047 (46/200)
Processing customer C0048 (47/200)
Processing customer C0049 (48/200)
Processing customer C0050 (49/200)
Processing customer C0051 (50/200)
Processing customer C0052 (51/200)
Processing customer C0053 (52/200)
Processing customer C0054 (53/200)
Processing customer C0055 (54/200)
Processing customer C0056 (55/200)
Processing customer C0057 (56/200)
Processing customer C0058 (57/200)
Processing customer C0059 (58/200)
Processing customer C0060 (59/200)
Processing customer C0061 (60/200)
Processing customer C0062 (61/200)
Processing customer C0063 (62/200)
Processing customer C0064 (63/200)
Processing customer C0065 (64/200)
Processing customer C0066 (65/200)
Processing customer C0067 (66/200)
Processing customer C0068 (67/200)
Processing customer C0069 (68/200)
Processing customer C0070 (69/200)
Processing customer C0071 (70/200)
Processing customer C0072 (71/200)
Processing customer C0073 (72/200)
Processing customer C0074 (73/200)
Processing customer C0075 (74/200)
Processing customer C0076 (75/200)
Processing customer C0077 (76/200)
Processing customer C0078 (77/200)
Processing customer C0079 (78/200)
Processing customer C0080 (79/200)
Processing customer C0081 (80/200)
Processing customer C0082 (81/200)
Processing customer C0083 (82/200)
Processing customer C0084 (83/200)
Processing customer C0085 (84/200)
Processing customer C0086 (85/200)
Processing customer C0087 (86/200)
Processing customer C0088 (87/200)
Processing customer C0089 (88/200)
Processing customer C0090 (89/200)
Processing customer C0091 (90/200)
Processing customer C0092 (91/200)
Processing customer C0093 (92/200)
Processing customer C0094 (93/200)
Processing customer C0095 (94/200)
Processing customer C0096 (95/200)
Processing customer C0097 (96/200)
Processing customer C0098 (97/200)
Processing customer C0099 (98/200)
Processing customer C0100 (99/200)
Processing customer C0101 (100/200)
Processing customer C0102 (101/200)
Processing customer C0103 (102/200)
Processing customer C0104 (103/200)
Processing customer C0105 (104/200)
Processing customer C0106 (105/200)
Processing customer C0107 (106/200)
Processing customer C0108 (107/200)
Processing customer C0109 (108/200)
Processing customer C0110 (109/200)
Processing customer C0111 (110/200)
Processing customer C0112 (111/200)
Processing customer C0113 (112/200)
Processing customer C0114 (113/200)
Processing customer C0115 (114/200)
Processing customer C0116 (115/200)
Processing customer C0117 (116/200)
Processing customer C0118 (117/200)
Processing customer C0119 (118/200)
Processing customer C0120 (119/200)
Processing customer C0121 (120/200)
Processing customer C0122 (121/200)
Processing customer C0123 (122/200)
Processing customer C0124 (123/200)
Processing customer C0125 (124/200)
Processing customer C0126 (125/200)
Processing customer C0127 (126/200)
Processing customer C0128 (127/200)
Processing customer C0129 (128/200)
Processing customer C0130 (129/200)
Processing customer C0131 (130/200)
Processing customer C0132 (131/200)
Processing customer C0133 (132/200)
Processing customer C0134 (133/200)
Processing customer C0135 (134/200)
Processing customer C0136 (135/200)
Processing customer C0137 (136/200)
Processing customer C0138 (137/200)
Processing customer C0139 (138/200)
Processing customer C0140 (139/200)
Processing customer C0141 (140/200)
Processing customer C0142 (141/200)
Processing customer C0143 (142/200)
Processing customer C0144 (143/200)
Processing customer C0145 (144/200)
Processing customer C0146 (145/200)
Processing customer C0147 (146/200)
Processing customer C0148 (147/200)
Processing customer C0149 (148/200)
Processing customer C0150 (149/200)
Processing customer C0151 (150/200)
Processing customer C0152 (151/200)
Processing customer C0153 (152/200)
Processing customer C0154 (153/200)
Processing customer C0155 (154/200)
Processing customer C0156 (155/200)
Processing customer C0157 (156/200)
Processing customer C0158 (157/200)
Processing customer C0159 (158/200)
Processing customer C0160 (159/200)
Processing customer C0161 (160/200)
Processing customer C0162 (161/200)
Processing customer C0163 (162/200)
Processing customer C0164 (163/200)
Processing customer C0165 (164/200)
Processing customer C0166 (165/200)
Processing customer C0167 (166/200)
Processing customer C0168 (167/200)
Processing customer C0169 (168/200)
Processing customer C0170 (169/200)
Processing customer C0171 (170/200)
Processing customer C0172 (171/200)
Processing customer C0173 (172/200)
Processing customer C0174 (173/200)
Processing customer C0175 (174/200)
Processing customer C0176 (175/200)
Processing customer C0177 (176/200)
Processing customer C0178 (177/200)
Processing customer C0179 (178/200)
Processing customer C0180 (179/200)
Processing customer C0181 (180/200)
Processing customer C0182 (181/200)
Processing customer C0183 (182/200)
Processing customer C0184 (183/200)
Processing customer C0185 (184/200)
Processing customer C0186 (185/200)
Processing customer C0187 (186/200)
Processing customer C0188 (187/200)
Processing customer C0189 (188/200)
Processing customer C0190 (189/200)
Processing customer C0191 (190/200)
Processing customer C0192 (191/200)
Processing customer C0193 (192/200)
Processing customer C0194 (193/200)
Processing customer C0195 (194/200)
Processing customer C0196 (195/200)
Processing customer C0197 (196/200)
Processing customer C0198 (197/200)
Processing customer C0199 (198/200)
Processing customer C0200 (199/200)

In [30]:
lookalike_df = pd.DataFrame([
    {'cust_id': cust_id, 'lookalikes': lookalikes}
    for cust_id, lookalikes in lookalike_map.items()
])
lookalike_df.to_csv('Lookalike.csv', index=False)